@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;500;700;800&display=swap');

// -----------COLORS-----------//

$HEADERBG: #075793;
$TEXTGRAY: #253845;
//-------BACKGROUND COLOR----------//
$ButtonBGOne: #c60505;

//-----------FONT SIZES----------//

$FourteenPX: 14px;
$ThirtySixPX: 36px;
$ThirteenPX: 13px;
$SixteenPX: 16px;
$TwentyTwo: 22px;
$Small: 12px;

//---------FONTS FAMILY
$FontFamilyRegular1: 'Inter', sans-serif;
$FontFamilyRegular2: 'Open Sans', sans-serif;

//-------------FONT WEIGTH---------//
$Regular: 400;
$Medium: 500;
$Heading: 700;
$Bold: 800;

//---------BREAK POINTS----------//
$XSmallBreak: 200px;
$SmallBreak: 567px;
$SmallBreak2: 568px;
$Medium: 767px;
$Medium2: 768px;
$XMedium: 991px